<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160223-QQ登陆界面.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60DA80161C7C9FB5007DE708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60DA80321C7C9FB5007DE708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60DA803D1C7C9FB5007DE708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
